* {
    margin: 0;
    padding: 0;
}

body {
    background: repeating-linear-gradient(0deg, #B58252 0%, #FCF7F7 2%, white 0%, white 50%) 0 / 15px 15px;
    width: auto;
}


header {
    background-color: #B58252;
    width: 100vw;
    height: 5.5vh;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: flex-end;
}

header nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

}

header nav a {

    z-index: 1;
    font-size: 2.4vh;
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0.5vw;
    flex-grow: 1;

}

header nav a:hover {
    background: #B58252;
    color: #222222;
}


header .menu {
    display: none;
}

.hamburger1 {
    display: flex;
    opacity: 0;
    flex-direction: row wrap;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 1.2vw;
    transition: 0.4s;
}

h1 {
    margin: 10vw;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    font-size: 10.6vw;
}

h2 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
    font-size: 3vw;
    margin-left: 5vw;
    color: #B58252;

}

h3 {
    font-family: "Sofia Pro", serif, Helvetica, sans-serif;
    font-size: 2vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 2.5vw;
    color: #222222;

}

h4 {
    font-family: "Sofia Pro", serif, Helvetica, sans-serif;
    font-size: 1.7vw;
    margin-bottom: 4vw;
    color: #222222;
}

.grid {
    width: 100vw;
    height: auto;
    /*    background-color: #F2F0F2;*/
    background: repeating-linear-gradient(0deg, #B58252 0%, #FCF7F7 2%, white 0%, white 50%) 0 / 15px 15px;
    display: grid;

    grid-template-areas:
        "a a a a"
        "b b b b"
        "c c c c"
        "d d e e"
        "f f e e"
        "g g h h"
        "i i i i"
        "j j j j"
        "k k k k"
        "l l l l"
        "m m m m"
        "n n n n"
        "o o o o"
        "p p p p";

    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-row-gap: 5px;
}

.a {
    grid-area: a;
    height: auto;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    background-image: url(img/Zrzut%20ekranu%202019-11-7%20o%2021.09.07.png);
    background-size: 100vw;
}

.b {
    grid-area: b;
    margin-top: 10vh;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;

}

.c {
    grid-area: c;
    margin-bottom: 5vw;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
    color: #222222;

}

.d {
    grid-area: d;
    height: 3vw;
    margin-top: 5vw;
    width: 50vw;

}

.e {
    grid-area: e;
    height: auto;
    width: 50vw;
}

.g {
    grid-area: g;
    width: 50vw;
    margin-top: 5vw;
}

.h {

    grid-area: h;
    margin-top: 2.5vw;
    width: 50vw;
    margin-top: auto;
    text-align: center;
}

.i {
    grid-area: i;
    height: auto;
    margin-top: 5vw;
}

.j {
    grid-area: j;
    width: 100vw;
    height: auto;

}

.k {
    grid-area: k;
    height: auto;
    margin-top: 3vw;

}

.l {
    grid-area: l;
    padding: -10px;
}

.m {
    grid-area: m;
    margin-top: 5vw;
}

.n {
    grid-area: n;
    margin: 2.5vw;

}

.o {
    grid-area: o;
}

.p {
    grid-area: p;

}





.kropki {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    margin-bottom: 2.5vw;

}


.dot1 {
    background-color: #06204A;
    height: 9vw;
    width: 9vw;
    border-radius: 50%;
    margin-bottom: 2vw;


}

.dot2 {
    background-color: #2F8752;
    height: 9vw;
    width: 9vw;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 2vw;
}

.dot3 {
    background-color: #A26E3B;
    height: 9vw;
    width: 9vw;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 2vw;

}

.dot4 {
    background-color: #AF733E;
    height: 9vw;
    width: 9vw;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 2vw;

}

.dot5 {
    background-color: #B58252;
    height: 9vw;
    width: 9vw;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 2vw;

}

.dot6 {
    background-color: #F4F0D7;
    height: 9vw;
    width: 9vw;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 2vw;

}

.dot7 {
    background-color: black;
    height: 9vw;
    width: 9vw;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 2vw;


}


.dot8 {
    background-color: #27130A;
    height: 9vw;
    width: 9vw;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 2vw;

}

.dot9 {
    background-color: #3B1C0F;
    height: 9vw;
    width: 9vw;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 2vw;

}

.dot10 {
    background-color: #553C33;
    height: 9vw;
    width: 9vw;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 2vw;

}

.dot11 {
    background-color: #E0D8ED;
    height: 9vw;
    width: 9vw;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 2vw;

}

.dot12 {
    background-color: white;
    height: 9vw;
    width: 9vw;
    border-radius: 50%;
    display: inline-block;
    border: 1px;
    border-color: black;
    border-style: solid;
    margin-bottom: 2vw;
}



.kropkii {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.kropa {
    display: flex;
    flex-direction: column;

}

.kropkimov {
    display: none;
}



footer {
    background-color: #B58252;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;

}

footer .links {
    display: flex;
    flex-flow: wrap;
    align-items: center;
}

footer .links a {
    font-size: 2vh;
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 7px;
    flex-grow: 1;

}

footer .links a:hover {
    background: white;
    color: #222222;
}

footer .social {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background-color: #B58252;
}

footer .social a {
    font-size: 2vh;
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 7px;
    flex-grow: 1;
}

footer .social a:hover {
    background: white;
    color: #222222;
}

footer {
    display: flex;
    flex-direction: column;
}


.grr {
    font-family: "Sofia Pro", serif, Helvetica, sans-serif;
    font-size: 1.7vw;
    color: #10141b;
    color: ghostwhite;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
}




@media screen and (max-width: 750px) {


    .kropkimov {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        margin: 2.5vw;
    }

    .kropki {
        display: none;
    }

    .kropa {
        width: 30vw;
    }

    .dot1,
    .dot2,
    .dot3,
    .dot4,
    .dot5,
    .dot6,
    .dot7,
    .dot8,
    .dot9,
    .dot10,
    .dot11,
    .dot12 {
        width: 20vw;
        height: 20vw;
    }

    h4 {

        font-size: 3vw;
    }

    header {
        display: flex;
        justify-content: center;
        height: auto;
        width: 100vw;

    }

    header nav {
        display: none;
        align-items: center;
        justify-content: center;
    }

    header nav a {
        font-size: 2vh;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 9px;
    }

    header nav a:hover {
        background: #B58252;
        color: #222222;
    }

    header .menu {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }


    header nav .hamburger {
        display: none;
        flex-direction: column;
        margin-right: 3vw;
    }

    .grid {
        width: 100%;
        height: auto;
        display: grid;

        /*
    grid-template-columns: [first] 25% [line2] 25% [line3] 25% [line4] 25% [line5];
    grid-template-rows: [row-1] 50vh[row-2] 50vh [row-3] 50vh [row-4] 50vh [last-line];
*/
        grid-template-areas:
            "a"
            "b"
            "c"
            "d"
            "f"
            "e"
            "u"
            "g"
            "h"
            "i"
            "j"
            "k"
            "l"
            "m"
            "n"
            "o"
            "p";

        grid-column-gap: 5px;
        grid-row-gap: 5px;
        grid-row-gap: 5px;
    }

    .a {
        grid-area: a;
        height: auto;
        color: white;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

        background-image: url(img/Zrzut%20ekranu%202019-11-7%20o%2021.09.07.png);
        background-size: 100vw;
    }

    .b {
        grid-area: b;
        margin-top: 2vh;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100vw;

    }

    .c {
        grid-area: c;
        margin-bottom: 2vw;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: auto;
        color: #222222;
    }

    .d {
        grid-area: d;
        height: auto;
        margin-top: 2vw;
        width: 100vw;
    }

    .e {
        grid-area: e;
        height: auto;
        width: 100vw;
    }

    .g {
        grid-area: g;
        width: 100vw;
    }

    .h {

        grid-area: h;
        width: 100vw;
        margin-top: auto;
        text-align: center;
    }

    .i {
        grid-area: i;
        height: auto;
        margin-top: 5vw;
    }

    .j {
        grid-area: j;
        width: 100vw;
        height: auto;

    }

    .k {
        grid-area: k;
        height: auto;
        margin-top: 3vw;

    }

    .l {
        grid-area: l;
        padding: -10px;
    }

    .m {
        grid-area: m;
        margin-top: 5vw;
    }

    .n {
        grid-area: n;
        margin: 2.5vw;

    }
    
    h3 {
        font-size: 3vw;
    }

     h2 {
        font-size: 4vw;
    }

    footer {
        display: flex;
    }

    footer .links {
        display: flex;
        flex-direction: row;
    }

    footer .social {
        display: flex;
        flex-direction: row;
    }

    .hamburger1 {
        display: none;
    }
}
